*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.headerSection{
  max-height: 100vh;
  background: url('headerbg.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;




}
.header{
  margin-top: 1.8vh;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: 300;
  color: #FFFF;
  justify-content: end;
  display: flex;
  gap: 3.6vw;
  margin-right: 3.6vw;
  img{
    margin-right: 23vw;
  }
  button{
    width: 12vw;
  }
  position: relative;
  bottom: 100vh;
}

.filter{
  background: linear-gradient(#60A0D8, #B2D234);
  opacity: 0.5;
  height: 100vh;
  position: relative;


}

.welcome{
  bottom: 45vh;
  margin-left: 25vw;
  margin-right: 25vw;
  min-width: 50vw;
 
  position: absolute;


  h1{
    text-align: center;
    font-size: 126px;
    margin: auto;
    color: #FFFF;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
  }
  h2{

    transform: rotate(-9deg);
    color: white;
    opacity: 1;
    position: absolute;
    right: 0;
    font-size: 54px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
  }
}

.welcomeSection{
  position: relative;
  
  height: 100vh;
  display: flex;
  background: url("welcomesection.png");
  @media screen and (max-width: 900px) {
      .bgimg{
        display: none;
      }
  }
  .bgimg{
    width: 100vh;
    position: absolute;
    height: 100vh;
    right: 0;
    z-index: 0;
    background: url("salade-detoure.png");
    background-position: 70px 10px;
    background-size: 110%;
    background-repeat: no-repeat;
   
   
  }
  .intro{
    z-index: 2;
    position: relative;
    margin-top: 20vh;
    margin-left: 15vh;

    .Pzone{
      max-width: 476px;
      width: 34vw;
    }
    h2{
      color: #B2D234;
      font-size: 54px;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 2vh;
    }
    p{
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
      margin-top: 4vh;
      
    }
    button{
      margin-top: 5vh;
      border: none;
      border-radius: 8px;
      height: 5vh;
      width: 20vh;
      background-color: #B2D234;
      color: #FFFF;
    }
    
  }
}

.AccrocheSection{
  height: 100vh;
  background: url("blackSalad.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
  
  .AccrocheDiv{
    height: 80vh;
    width: 75vh;
    background-color: rgba(178, 210, 52, 0.85);
    margin-right: 12vw;
    display: flex;
    text-align: center;
    color: #FFFF;
    
    justify-content: center;
    .AccrocheTxtZone{
      width: 40vw;

    }
    h2{
      margin-bottom: 5vh;
      margin-top: 7vh;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 52px;
      font-family: 'Poppins', sans-serif;
      
    }
    p{
      margin-bottom: 3vh;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
    }
    button{
      margin-top: 2vh;
      width: 15vw;
      height: 7vh;
      border: none;
      border-radius: 8px;
      background-color: #FFFF;
      color: #B2D234;
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
    }
  }
}

.MenuSection{

  height: 140vh;
  background: url("pattern.png");
  .MenuIntro{
    margin: auto;
    text-align: center;
    width: 60vw;
    h2{
      padding-top: 10vh;
      margin-bottom: 3vh;
      font-size: 52px;
      font-family: 'Poppins', sans-serif;
      color: #B2D234;
    }
    p{
      margin-top: 2vh;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
    }
  }

  .MenuCommande{
    display: flex;
  }
  @media screen and (max-width: 900px) {
    .MenuCommande{
      display: block;

    }
    .ProductName{
      font-size: 18px;
    }
}
  
  .Produit{
   
    width: 40vw;
    margin-left: 12vw;
    margin-top: 8vh;
    

    .ProductName{
      display: flex;
      gap: 10vw;
      margin-bottom: 3vh;
      color: #B2D234;
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      

    }

    .description{
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
    }
    .name{
      width: 17vw;
    
    }
  }
  .vert{
    transform: rotate(-9deg);
    color: #B2D234;

  }
  .bleu{
    transform: rotate(-9deg);
    color: #60A0D8;
  }
 
  .commande{
    margin-top: 20vh;
    height: 70vh;
    max-width: 31vw;
   
    h2{
      font-size: 64px;
      font-family: 'Poppins', sans-serif;
      font-style: italic;
      margin-bottom: 10vh;
    }
    p{
      margin-top: 10vh;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      
    }
    button{
    margin-top: 20%;
     width: 80%;
     height: 8%;
     border: none;
     border-radius: 8px;
     background: #B2D234;
     color: #FFFF;
     margin-left: 10%;
    }
  }
}
.prepaSection{
  background: url("prep.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #FFFF;
  gap: 5vw;

  .TxtDiv{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
  }

  .greenTeam{
    height: 60vh;
    width: 45vw;
    background: #B2D234;
    

  }
  .blueTeam{
    height: 60vh;
    width: 45vw;
    background: #60A0D8;
  }
   h2{
      margin-top:7%;
      width: 100%;
      text-align: center;
      font-size: 52px;
      font-family: 'Poppins', sans-serif;
    }
    p{
      flex: 50%;
      text-align: center;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
  
    }
}

