@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerSection {
  max-height: 100vh;
  background: url("headerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-top: 1.8vh;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-style: 300;
  color: white;
  justify-content: end;
  display: flex;
  gap: 3.6vw;
  margin-right: 3.6vw;
  position: relative;
  bottom: 100vh;
}
.header img {
  margin-right: 23vw;
}
.header button {
  width: 12vw;
}

.filter {
  background: linear-gradient(#60A0D8, #B2D234);
  opacity: 0.5;
  height: 100vh;
  position: relative;
}

.welcome {
  background-color: #B2D234;
  bottom: 45vh;
  margin-left: 25vw;
  margin-right: 25vw;
  min-width: 50vw;
  position: absolute;
}
.welcome h1 {
  font-size: 126px;
  margin: auto;
  color: white;
  opacity: 1;
  font-family: "Poppins", sans-serif;
}
.welcome h2 {
  transform: rotate(-9deg);
  color: white;
  opacity: 1;
  position: absolute;
  right: 0;
  font-size: 54px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

.welcomeSection {
  position: relative;
  height: 100vh;
  display: flex;
  background: url("welcomesection.png");
}
@media screen and (max-width: 900px) {
  .welcomeSection .bgimg {
    display: none;
  }
}
.welcomeSection .bgimg {
  width: 100vh;
  position: absolute;
  height: 100vh;
  right: 0;
  z-index: 0;
  background: url("salade-detoure.png");
  background-position: 70px 10px;
  background-size: 110%;
  background-repeat: no-repeat;
}
.welcomeSection .intro {
  z-index: 2;
  position: relative;
  margin-top: 20vh;
  margin-left: 15vh;
}
.welcomeSection .intro .Pzone {
  max-width: 476px;
  width: 34vw;
}
.welcomeSection .intro h2 {
  color: #B2D234;
  font-size: 54px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2vh;
}
.welcomeSection .intro p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-top: 4vh;
}
.welcomeSection .intro button {
  margin-top: 5vh;
  border: none;
  border-radius: 8px;
  height: 5vh;
  width: 20vh;
  background-color: #B2D234;
  color: white;
}

.AccrocheSection {
  height: 100vh;
  background: url("blackSalad.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
}
.AccrocheSection .AccrocheDiv {
  height: 80vh;
  width: 75vh;
  background-color: rgba(178, 210, 52, 0.85);
  margin-right: 12vw;
  display: flex;
  text-align: center;
  color: white;
  justify-content: center;
}
.AccrocheSection .AccrocheDiv .AccrocheTxtZone {
  width: 40vw;
}
.AccrocheSection .AccrocheDiv h2 {
  margin-bottom: 5vh;
  margin-top: 7vh;
  font-size: 52px;
  font-family: "Poppins", sans-serif;
}
.AccrocheSection .AccrocheDiv p {
  margin-bottom: 3vh;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.AccrocheSection .AccrocheDiv button {
  margin-top: 2vh;
  width: 15vw;
  height: 7vh;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: #B2D234;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=output.css.map */
